# macOS
.DS_Store

# Secrets / local machine config
*.jks
*.keystore
*.p12
*.mobileprovision
local.properties

# Android
**/.idea/
**/.gradle/
**/.kotlin/
**/build/
**/captures/
**/keystore.properties
**/*.apk
**/*.aab
**/*.ap_
**/*.dm

# Xcode / Swift
**/DerivedData/
**/*.xcuserstate
**/*.xcscmblueprint
**/xcuserdata/
